# Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [1]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [ ]:
df = pd.read_csv('NBA_players_2015.csv', header=None)
nba_df = df[0].str.split(',',expand= True)
nba_df.columns = nba_df.loc[0]
nba_df = nba_df[1:]

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
1,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.05,-2.6,-0.7,-3.4,-0.3
2,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
3,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
4,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
5,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #3. Look at the first five rows of the data set.

In [21]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
1,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.05,-2.6,-0.7,-3.4,-0.3
2,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
3,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
4,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
5,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [28]:
nba_df.shape

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [25]:
nba_df.describe()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478,478,478,478,478,478,478,478,478,478,...,478,478,478,478,478,478,478,478,478,478
unique,1,478,3,20,31,66,64,259,80,152,...,161,190,73,40,81,230,135,101,150,51
top,2015,Quincy Acy,G,23,TOT,62,0,12.4,1.6,4.5,...,8.8,18.2,0.1,0.0,0.0,0.101,-1.9,-0.7,-1.3,0.0
freq,478,1,200,56,69,26,122,6,18,9,...,11,13,31,46,33,8,16,17,13,70

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [27]:
nba_df.sort_values(by=('player'), inplace=True)
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
360,2015,A.J. Price,G,28,TOT,21,0,13.3,2.3,5.9,...,8.9,23.6,0.2,0.2,0.4,0.072,0.5,-2.8,-2.4,0.0
61,2015,Aaron Brooks,G,30,CHI,65,9,21.0,3.9,9.3,...,15.5,25.7,1.1,1.0,2.1,0.073,0.7,-2.8,-2.1,0.0
167,2015,Aaron Gordon,F,19,ORL,30,6,15.2,1.9,3.8,...,17.0,15.9,0.3,0.3,0.6,0.066,-2.5,-0.5,-3.1,-0.1
349,2015,Adreian Payne,F,23,TOT,12,3,19.7,2.3,6.1,...,13.6,17.7,-0.3,0.1,-0.1,-0.024,-5.8,-2.5,-8.3,-0.4
213,2015,Al Horford,C,28,ATL,60,60,30.8,6.8,12.6,...,9.1,22.1,4.6,3.0,7.5,0.195,1.7,2.7,4.5,3.0

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

In [54]:
g_df = nba_df[nba_df['pos'] == 'G']
f_df = nba_df[nba_df['pos'] == 'F']
c_df = nba_df[nba_df['pos'] == 'C']

print('Guards:')
print(g_df.head())
print('\nForwards:')
print(f_df.head())
print('\nCenters:')
print(c_df.head())

Guards:
0   season_end         player pos age bref_team_id   g  gs    mp   fg   fga  \
360       2015     A.J. Price   G  28          TOT  21   0  13.3  2.3   5.9
61        2015   Aaron Brooks   G  30          CHI  65   9  21.0  3.9   9.3
15        2015  Alan Anderson   G  32          BRK  62  19  23.8  2.5   5.7
69        2015     Alec Burks   G  23          UTA  27  27  33.3  4.5  11.1
395       2015   Alexey Shved   G  26          TOT  35   2  15.7  2.7   6.8

0    ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM VORP
360  ...   8.9  23.6  0.2  0.2  0.4  0.072   0.5  -2.8  -2.4  0.0
61   ...  15.5  25.7  1.1  1.0  2.1  0.073   0.7  -2.8  -2.1  0.0
15   ...  11.8  13.7  1.3  0.9  2.1   0.07  -0.2  -0.3  -0.5  0.6
69   ...  12.7  20.9  1.1  0.5  1.5  0.082  -0.3  -1.3  -1.6  0.1
395  ...  10.1  25.8  1.4  0.3  1.7  0.149   3.1  -3.3  -0.3  0.2

[5 rows x 49 columns]

Forwards:
0   season_end             player pos age bref_team_id   g  gs    mp   fg  \
167       2015       Aaron Gordon   F  19          ORL  30   6  15.2  1.9
349       2015      Adreian Payne   F  23          TOT  12   3  19.7  2.3
12        2015    Al-Farouq Aminu   F  24          DAL  60   3  17.0  2.0
161       2015         Alonzo Gee   F  27          TOT  43   0  12.4  1.6
414       2015  Amar'e Stoudemire   F  32          TOT  44  14  22.8  4.7

0    fga  ...  TOV%  USG%   OWS  DWS    WS   WS/48  OBPM  DBPM   BPM  VORP
167  3.8  ...  17.0  15.9   0.3  0.3   0.6   0.066  -2.5  -0.5  -3.1  -0.1
349  6.1  ...  13.6  17.7  -0.3  0.1  -0.1  -0.024  -5.8  -2.5  -8.3  -0.4
12   4.7  ...  11.8  15.7   0.9  1.7   2.6   0.124  -0.6   3.0   2.3   1.1
161  3.3  ...  14.0  16.3   0.6  0.5   1.1     0.1  -0.8   0.5  -0.3   0.2
414  8.4  ...  14.0  23.2   2.0  0.8   2.8   0.134  -0.2  -0.7  -0.9   0.3

[5 rows x 49 columns]

Centers:
0   season_end         player pos age bref_team_id   g  gs    mp   fg   fga  \
213       2015     Al Horford   C  28          ATL  60  60  30.8  6.8  12.6
226       2015   Al Jefferson   C  30          CHO  53  49  31.4  7.8  16.0
253       2015      Alex Kirk   C  23          CLE   5   0   2.8  0.2   0.8
268       2015       Alex Len   C  21          PHO  61  36  21.7  2.7   5.0
6         2015  Alexis Ajinca   C  26          NOP  51   6  14.0  2.8   4.8

0    ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM VORP
213  ...   9.1  22.1  4.6  3.0  7.5  0.195   1.7   2.7   4.5  3.0
226  ...   5.4  26.4  1.5  2.9  4.5  0.129  -0.9   1.7   0.8  1.2
253  ...   0.0  15.7  0.0  0.0  0.0   0.06  -3.0  -4.3  -7.3  0.0
268  ...  15.4  13.7  1.5  1.8  3.3  0.119  -2.8   2.0  -0.8  0.4
6    ...  15.3  20.8  1.8  0.9  2.7  0.181   0.4   0.2   0.7  0.5

[5 rows x 49 columns]

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

In [62]:
g_df.describe()
g_fg_mean = g_df['fg'].astype(float).mean()
g_fg_mean

3.2

In [63]:
f_df.describe()
f_fg_mean = f_df['fg'].astype(float).mean()
f_fg_mean

2.8467336683417086

In [64]:
c_df.describe()
c_fg_mean = c_df['fg'].astype(float).mean()
c_fg_mean

2.9898734177215194

The end!

#### Great job!